{% extends "layout.html" %}
{% block content %}
<h1>Departments</h1>
<table class="table table-striped">
    <tr>
        <th>Department ID</th>
        <th>Department name</th>
        <th>Num of employees</th>
        <th>Avg salary male</th>
        <th>Avg salary female</th>
        <th>Avg employee age</th>
        <th>Avg work experience</th>
        <th>Sick leaves</th>
    </tr>
    {% for department in departments_data %}
    <tr>
        <td>{{ department.department_id }}</td>
        <td>{{ department.department_name }}</td>
        <td>{{ department.num_employees }}</td>
        <td>{{ department.avg_salary_male }}</td>
        <td>{{ department.avg_salary_female }}</td>
        <td>{{ department.avg_employee_age }}</td>
        <td>{{ department.avg_work_experience }}</td>
        <td>
            <form method="GET" action="{{ url_for('department_info', department_id = department.department_id) }}"
                class="d-inline">
                <button type="submit" class="btn btn-primary btn-sm">Sick leaves</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}