{% extends "layout.html" %}

{% block content %}
<h1>Employees</h1>
<div class="row">
    <div class="col-3">
        <a href="{{ url_for('employees') }}" class="btn btn-success">Back to all employees</a>
    </div>
</div>

<table class="table table-striped">
    <tr>
        <th>Employee ID</th>
        <th>Department ID</th>
        <th>Name</th>
        <th>Monthly Salary</th>
        <th>Work experience</th>
        <th>Current month sick leaves duration</th>
        <th>Adjusted salary</th>
        <th>Action</th>
    </tr>
    {% for employee in employees_data %}
    <tr>
        <td>{{ employee.employee_id }}</td>
        <td>{{ employee.department_id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.monthly_salary }}</td>
        <td>{{ employee.work_experience }}</td>
        <td>{{ employee.current_month_sick_leaves_duration }}</td>
        <td>{{ employee.adjusted_salary}}</td>
        <td>
            <form method="POST" action="{{ url_for('profile', employee_id = employee.employee_id) }}" class="d-inline">
                <button type="submit" class="btn btn-secondary btn-sm">Profile</button>
            </form>
            <button type="submit" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                data-bs-target="#delete_modal{{employee.employee_id}}">Delete</button>
            <div class="modal fade" id="delete_modal{{employee.employee_id}}" tabindex="-1"
                aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModalLabel">Deleting an employee</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete an employee with an id {{ employee.employee_id }}?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form method="POST"
                                action="{{ url_for('delete_employee', employee_id=employee.employee_id) }}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}