{% extends "layout.html" %}

{% block content %}
<h1>Employees</h1>
<div class="row justify-content-space-between">
    <div class="col-3">
        <form class="form-inline" action="{{ url_for('search_employee') }}" method="POST">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="search_id_or_name" name="search_id_or_name" required
                    placeholder="Enter name or id">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
    <div class="col-3">
        <form class="salary_less_than_n" method="post" action="{{ url_for('salary_less_than_n') }}">
            <div class="input-group mb-3">
                <input type="number" class="form-control" id="salary_threshold" name="salary_threshold" required
                    placeholder="Enter max salary">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </form>
    </div>
    <div class="col-6 text-end">
        <a href="{{ url_for('retired_employees') }}" class="btn btn-secondary">Retired employees</a>
        <a href="{{ url_for('add_employee') }}" class="btn btn-success">+ Add new employee</a>
    </div>
</div>

<table class="table table-striped">
    <tr>
        <th>Employee ID</th>
        <th>Department ID</th>
        <th>Name</th>
        <th>Monthly Salary</th>
        <th>Date of Birth</th>
        <th>Work experience</th>
        <th>Marital Status</th>
        <th>Gender</th>
        <th>Number of Children</th>
        <th>Action</th>
    </tr>
    {% for employee in employees_data %}
    <tr>
        <td>{{ employee.employee_id }}</td>
        <td>{{ employee.department_id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.monthly_salary }}</td>
        <td>{{ employee.date_of_birth }}</td>
        <td>{{ employee.work_experience }}</td>
        <td>{{ employee.marital_status }}</td>
        <td>{{ employee.gender}}</td>
        <td>{{ employee.number_of_children }}</td>
        <td>
            <form method="POST" action="{{ url_for('profile', employee_id = employee.employee_id) }}" class="d-inline">
                <button type="submit" class="btn btn-secondary btn-sm">Profile</button>
            </form>
            <button type="submit" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                data-bs-target="#delete_modal{{employee.employee_id}}">Delete</button>
            <div class="modal fade" id="delete_modal{{employee.employee_id}}" tabindex="-1"
                aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModalLabel">Deleting an employee</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete an employee with an id {{ employee.employee_id }}?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form method="POST"
                                action="{{ url_for('delete_employee', employee_id=employee.employee_id) }}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}