{% extends "layout.html" %}

{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3>Employee #{{ employee.employee_id }} profile</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Name:</strong> {{ employee.name }}</p>
                            <p><strong>Date of Birth:</strong> {{ employee.date_of_birth }}</p>
                            <p><strong>Marital Status:</strong> {{ employee.marital_status }}</p>
                            <p><strong>Gender:</strong> {{ employee.gender }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Department:</strong> {{ employee.department_id }}</p>
                            <p><strong>Date of Employment:</strong> {{ employee.date_of_employment }}</p>
                            <p><strong>Monthly Salary:</strong> {{ employee.monthly_salary }}</p>
                            <p><strong>Number of Children:</strong> {{ employee.number_of_children }}</p>
                        </div>
                    </div>
                    <hr>
                    <h4>Work Experience</h4>
                    <p><strong>Years of Experience:</strong> {{ employee.work_experience }}</p>
                    <hr>
                    <h4>Current month salary:</h4>
                    <p><strong>Days of sick leaves:</strong> {{ employee.current_month_sick_leaves_duration }}</p>
                    <p><strong>Adjusted Salary:</strong> {{ employee.adjusted_salary }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card my-4">
                <div class="card-header">
                    <div class="row justify-content-space-between mt-2">
                        <h3 class="col-4">Sick leaves</h3>
                        <div class="col-8 text-end">
                            <a class="btn btn-success mb-2" data-bs-toggle="collapse" href="#add_new_sick_leave_form"
                                role="button" aria-expanded="true" aria-controls="add_new_sick_leave_form">
                                +Add new sick leave
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="collapse {% if add_sick_leave_form.end_date.errors %} show {% endif %}"
                        id="add_new_sick_leave_form">
                        <div class="card card-body my-3">
                            <form method="post" action="{{ url_for('profile', employee_id=employee.employee_id) }}"
                                class="row g-3">
                                {{ add_sick_leave_form.hidden_tag() }}
                                {% if add_sick_leave_form.employee_id.errors %}
                                <div class="invalid-feedback">
                                    {% for error in add_sick_leave_form.employee_id.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <div class="form-group col-md-4">
                                    {{ add_sick_leave_form.start_date.label(class="form-control-label") }}
                                    {% if add_sick_leave_form.start_date.errors %}
                                    {{ add_sick_leave_form.start_date(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in add_sick_leave_form.start_date.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ add_sick_leave_form.start_date(class="form-control") }}
                                    {% endif %}
                                </div>

                                <div class="form-group col-md-4">
                                    {{ add_sick_leave_form.end_date.label(class="form-control-label") }}
                                    {% if add_sick_leave_form.end_date.errors %}
                                    {{ add_sick_leave_form.end_date(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in add_sick_leave_form.end_date.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ add_sick_leave_form.end_date(class="form-control") }}
                                    {% endif %}
                                </div>
                                <div class="col-md-4 d-flex flex-column">
                                    <button type="submit" class="btn btn-primary mt-auto" style="width: 100%;">Add sick
                                        leave</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% include 'sick_leaves_table.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}