{% extends "layout.html" %}

{% block content %}
<h1>Sick leaves</h1>
<div class="row justify-content-space-between">
    <div class="col-12 text-end">
        <a class="btn btn-success mb-2" data-bs-toggle="collapse" href="#add_new_sick_leave_form" role="button"
            aria-expanded="true" aria-controls="add_new_sick_leave_form">
            +Add new sick leave
        </a>
    </div>
</div>
<div class="collapse {% if add_sick_leave_form.end_date.errors %} show {% endif %}" id="add_new_sick_leave_form">
    <div class="card card-body">
        <form method="post" action="{{ url_for('sick_leaves') }}" class="row g-3">
            {{ add_sick_leave_form.hidden_tag() }}

            <div class="form-group col-md-4">
                {{ add_sick_leave_form.employee_id.label(class="form-control-label") }}
                {% if add_sick_leave_form.employee_id.errors %}
                {{ add_sick_leave_form.employee_id(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in add_sick_leave_form.employee_id.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ add_sick_leave_form.employee_id(class="form-control") }}
                {% endif %}
            </div>

            <div class="form-group col-md-4">
                {{ add_sick_leave_form.start_date.label(class="form-control-label") }}
                {% if add_sick_leave_form.start_date.errors %}
                {{ add_sick_leave_form.start_date(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in add_sick_leave_form.start_date.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ add_sick_leave_form.start_date(class="form-control") }}
                {% endif %}
            </div>

            <div class="form-group col-md-4">
                {{ add_sick_leave_form.end_date.label(class="form-control-label") }}
                {% if add_sick_leave_form.end_date.errors %}
                {{ add_sick_leave_form.end_date(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in add_sick_leave_form.end_date.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ add_sick_leave_form.end_date(class="form-control") }}
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Add sick leave</button>
        </form>
    </div>
</div>
<table class="table table-striped">
    <tr>
        <th>Sick leave id</th>
        <th>employee_id</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Duration</th>
        <th>Action</th>
    </tr>
    {% for sick_leave in sick_leaves_data %}
    <tr>
        <td>{{ sick_leave.sick_leave_id }}</td>
        <td>{{ sick_leave.employee_id}}</td>
        <td>{{ sick_leave.start_date }}</td>
        <td>{{ sick_leave.end_date }}</td>
        <td>{{ sick_leave.duration }}</td>
        <td>
            <button type="submit" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                data-bs-target="#delete_modal{{sick_leave.sick_leave}}">Delete</button>
            <div class="modal fade" id="delete_modal{{sick_leave.sick_leave}}" tabindex="-1"
                aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModalLabel">Deleting a sick leave</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete a sick_leave with an id {{ sick_leave.sick_leave_id
                                }}?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form method="POST"
                                action="{{ url_for('delete_sick_leave', sick_leave_id=sick_leave.sick_leave_id) }}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}